{{#if session.data.authenticated.isStaff}}
  <ol class="breadcrumb breadcrumb-quirk">
    <li>{{#link-to 'index'}}<i class="fa fa-home mr5"></i>Home{{/link-to}}</li>
    <li class="active">Publishers</li>
  </ol>

  <div class="panel">
    <div class="panel-heading">
      <div class="row">
        <div class="col-xs-6"><h4>Publishers</h4></div>
        <div class="col-xs-6 text-right">
          <button {{action 'clearFilters'}} class='btn btn-sm btn-stroke btn-danger'>Clear Filters</button>
          <button {{action 'addPublisher'}} class='btn btn-sm btn-stroke btn-primary'><i class='fa fa-plus'></i>&nbsp;Add Publisher</button>
        </div>
      </div>
    </div>
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table nomargin">
          <thead>
            <tr>
              <th>Name</th>
              <th class='text-center'>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><input onchange={{action 'updateParam' 'name'}} type='text' class='form-control' value=''/></td>
              <td class='text-center'>____</td>
            </tr>
            {{#each publishers as |publisher|}}
              <tr>
                {{#if publisher.isEditing}}
                  <td>{{input type='text' class='form-control' value=publisher.name placeholder='Name...'}}</td>
                  <td class='text-center'>
                    <button {{action 'save' publisher}} class='btn btn-xs btn-stroke btn-primary'>
                      <i class="fa fa-save"></i>&nbsp;Save
                    </button>
                    <button {{action 'delete' publisher}} class='btn btn-xs btn-stroke btn-danger'>
                      <i class="fa fa-trash"></i>&nbsp;Delete
                    </button>
                  </td>
                {{else}}
                  <td>{{publisher.name}}</td>
                  <td class='text-center'>
                    <button {{action 'edit' publisher}} class='btn btn-xs btn-stroke btn-primary'>
                      <i class="fa fa-pencil"></i>&nbsp;Edit
                    </button>
                    <button {{action 'delete' publisher}} class='btn btn-xs btn-stroke btn-danger'>
                      <i class="fa fa-trash"></i>&nbsp;Delete
                    </button>
                  </td>
                {{/if}}
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
      {{page-links pagination=pagination routeName='admin.publishers'}}
    </div>
  </div>
{{/if}}
