{{#if session.data.authenticated.isStaff}}
  <ol class="breadcrumb breadcrumb-quirk">
    <li>{{#link-to 'index'}}<i class="fa fa-home mr5"></i>Home{{/link-to}}</li>
    <li class="active">Terminal</li>
  </ol>
  {{#if success}}
    <div class="row">
      <div class="alert alert-success" role="alert">
        <button {{action 'closeAlert'}} type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        Check Out Successful!
      </div>
    </div>
  {{/if}}
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="panel">
        <div class="panel-heading">
          <h4 class="panel-title">User Search</h4>
        </div>
        <div class="panel-body">
          <div class="form-group">
            <div class="row">
              <div class="col-xs-12 col-sm-3">
                {{input type="text" placeholder="Name" class="form-control" value=name}}
              </div>
              <div class="col-xs-12 col-sm-3">
                {{input type="text" placeholder="Email" class="form-control" value=email}}
              </div>
              <div class="col-xs-12 col-sm-3">
                {{input type="text" placeholder="Phone" class="form-control" value=phone}}
              </div>
              <div class="col-xs-12 col-sm-3">
                <button {{action 'search'}} class='btn btn-sm btn-stroke btn-success'>Search</button>
                <button {{action 'clearSearch'}} class='btn btn-sm btn-stroke btn-danger'>Clear</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel">
        <div class="panel-heading">
          <h4 class="panel-title">Check-Out</h4>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-12 col-sm-5">
              <div class="form-group">
                <select id="section" class="form-control" disabled={{noUser}} onchange={{action 'updateSection'}}>
                  <option value="CIR">Circulations</option>
                  <option value="REF">References</option>
                  <option value="PER">Periodicals</option>
                </select>
              </div>
            </div>
            <div class="col-xs-10 col-sm-5">
              <div class="form-group">
                {{input type="text" placeholder="Book" class="form-control" disabled=noUser value=title}}
              </div>
            </div>
            <div class="col-xs-2 col-sm-2">
              <div class="form-group">
                <button {{action 'searchBook'}} class='btn btn-sm btn-info btn-stroke'>Search</button>
              </div>
            </div>
            {{#each books as |item|}}
              <div class="row">
                <div class="col-xs-4 col-sm-2">
                  {{#if (is-equal item.id book)}}
                    <button {{action 'selectBook' item.id}} class='btn btn-sm btn-success btn-stroke'><i class='fa fa-check'></i></button>
                  {{else}}
                    <button {{action 'selectBook' item.id}} class='btn btn-sm btn-warning btn-stroke'>Select</button>
                  {{/if}}
                </div>
                <div class="col-xs-8 col-sm-10">
                  <p>
                    <strong>{{item.title}}</strong><br/>
                    {{#if item.subtitle}}
                      {{item.subtitle}}<br/>
                    {{/if}}
                    {{#if item.volume}}
                      Volume: {{item.volume}}<br/>
                    {{/if}}
                    {{#if item.volume_no}}
                      Number: {{item.volume_no}}<br/>
                    {{/if}}
                    {{#if item.publisher}}
                      Publisher: {{item.publisher}}<br/>
                    {{/if}}
                    {{#if item.authors}}
                      Authors:
                      {{#each item.authors as |author|}}
                        {{author}}
                      {{/each}}
                      <br/>
                    {{/if}}
                  </p>
                </div>
              </div>
            {{/each}}
            <div class="col-xs-10">
              <button {{action 'submit'}} class='btn btn-sm btn-success btn-stroke btn-block'>Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="panel">
        <div class="panel-heading">
          <h4 class="panel-title">Results</h4>
        </div>
        <div class="panel-body">
          <div class="form-group">
            <div class="row">
              {{#each results as |result|}}
                <div class='col-sm-2 col-xs-4'>
                  <button {{action 'selectUser' result.id}} class='btn btn-sm btn-stroke btn-primary'>Select</button>
                </div>
                <div class='col-sm-10 col-xs-8'>
                  <p>
                    <strong>{{result.attributes.last_name}}, {{result.attributes.first_name}} - ({{result.attributes.user_type}})</strong><br/>
                    {{result.attributes.email}}<br/>
                    {{format-phone result.attributes.phone}}
                  </p>
                </div>
              {{/each}}
            </div>
          </div>
        </div>
      </div>
      <div class="panel">
        <div class="panel-heading">
          <h4 class="panel-title">Check-In</h4>
        </div>
        <div class="panel-body">
          <div class="table-responsive">
            {{#if currentItems}}
              <table class="table nomargin">
                <thead>
                  <tr>
                    <th class='text-center'></th>
                    <th>Title</th>
                    <th>Checkout Date</th>
                    <th>Due Date</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each currentItems as |item|}}
                    <tr>
                      <td class='text-center'>
                        <button {{action 'returnItem' item}} class='btn btn-sm btn-warning btn-stroke'><i class='fa fa-repeat'></i></button>
                      </td>
                      <td>{{item.title}}</td>
                      <td>{{format-date item.checkout_dt}}</td>
                      <td>{{format-date item.due_date}}</td>
                      <td>{{format-phone user.phone}}</td>
                    </tr>
                  {{/each}}
                </tbody>
              </table>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
{{/if}}
