{{#if session.isAuthenticated}}
  {{site-header action='invalidateUser'}}
  {{site-nav action='invalidateUser'}}
  <section>
    <div class="mainpanel">
      <div class="contentpanel">
        {{outlet}}
        {{outlet 'modal'}}
      </div>
    </div>
  </section>
{{else}}
  {{outlet}}
{{/if}}
